# Apple Developer Account Credentials
DEVICE_UDID=00008000-0000000000000000
APPLE_ID=your_apple_id@example.com
APPLE_PASS=your_apple_password
TEAM_ID=XXXXXXXXXX
ALTSERVER_ANISETTE_SERVER=http://127.0.0.1:6970

# Telegram Bot Credentials
BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrSTUvwxYZ
TG_CHAT_ID=123456789

# Optional Paths
BASE_DIR=/path/to/altserver
KEY_PEM=/home/username/.config/Sideloader/keys/<key_hash>/key.pem
